.root {
    -fx-background-color: #f4f7f6; /* رنگ پس‌زمینه ملایم */
    -fx-padding: 20;
}

#countryLabel {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-text-fill: #2c3e50;
}

.button {
    -fx-background-color: #ffffff;
    -fx-text-fill: #34495e;
    -fx-font-size: 16px;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-border-color: #dcdde1;
    -fx-border-width: 2;
    -fx-min-width: 250px;
    -fx-min-height: 45px;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #3498db;
    -fx-text-fill: white;
    -fx-border-color: #2980b9;
}

#scoreLabel {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #7f8c8d;
}
